/* .ads-header-wrapper {
    margin-bottom: 3vh;
} */
.ads-header {
    text-align: center;
    background-color: #be332d;
    padding-top: 7vh;
    padding-bottom: 75px;
    color: white;
}
.ads-header-img {
    text-align: center;
}

.ads-header h6 {
    font-size: 18px;
}

.swiper-container {
    /* border: 1px solid black; */
    padding-left: 15vw !important;
    margin-top: 33px;
}

.swiper-wrapper {
    /* border: 1px solid blue; */
    /* width: 80%; */
}

.ads-penawaran-wrapper {
    padding-top: 80px;
    text-align: center;
    background-color: #be332d;
    padding-top: 7vh;
    padding-bottom: 7vh;
    color: white;
}

.swiper-slide {
    /* border: 1px solid red; */
    /* width: 35% !important; */
    /* width: 384px !important;
    width: 400px !important; */
    background: white;
    padding: 2vh 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.ads-img-slide {
    /* border: 1px solid green; */
    width: 90%;
    margin: 0 auto 2vh auto;
    /* margin-bottom: 2vh; */
}
.ads-img-slide img {
    /* border: 1px solid black; */
    width: 70%;
}

.swiper-pagination {
    margin-top: 3vh;
    margin-bottom: 3vh;

    width: 100%;
}

.swiper-slide h3 {
    color: #be332d;
}

.ads-penawaran-lainnya h1 {
    font-size: 42px;
}

.ads-step-1,
.ads-step-2,
.ads-step-3 {
    margin-bottom: 10vh !important;
}

.img-ads-wrapper {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    width: 100%;
}

.img-ads-mobile {
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 70%;
    /* text-align: center; */
}

.img-ads-web {
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 80%;
    /* text-align: center; */
}

.swiper-slide a:hover {
    text-decoration: none;
}
