.cart {
    margin: 50px auto;
}

.cart .card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: transparent;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
}

.item-desc {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.item-desc a {
    margin-top: 10px;
    color: #ff0a00;
}

.item-desc h2 {
    color: #be332d;
}

.item-desc p {
    margin-top: 10px;
    color: #ff0a00;
}

.item-qty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    /* border: 1px solid red; */
    padding: 10px;
}

.item-qty i {
    font-size: 26px;
}

.item-qty i:hover {
    cursor: pointer;
}

.item-qty h3 {
    /* border: 1px solid red; */
    padding: 10px;
    background: #be332d;
    border-radius: 5px;
    color: white;
}

.qty {
    width: 50px;
}

.coupon {
    margin-bottom: 50px;
}

.coupon .card {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    border: transparent;
}

.cek-coupon-btn {
    background: #be332d;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 100px;
    color: white;
    font-weight: 700;
    border: transparent;
}

.cek-coupon {
    width: 50%;
    height: 50px;
    margin-top: 10px;
}

.cek-coupon input {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: transparent;
}

.cek-coupon-btn:hover {
    cursor: pointer;
}

.coupon-subtotal {
    display: flex;
    justify-content: space-between;
}

.btn-checkout-container {
    text-align: right;
}

.btn-checkout {
    background: #be332d;
    box-shadow: -5px 5px 20px rgba(83, 66, 147, 0.51);
    border-radius: 7px;
    border: transparent;
    color: white;
    font-weight: 700;
    padding: 18px 90px;
    margin-top: 30px;
}

@media screen and (max-width: 425px) {
    .cart-img {
        width: 80px;
        height: 80px;
    }

    .item-desc h4 {
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .item-qty {
        margin-right: auto;
    }

    .item-qty i {
        font-size: 12px;
    }

    .cek-coupon {
        width: 100%;
    }

    .btn-checkout-container {
        text-align: center;
    }

    .btn-checkout {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .coupon .card {
        padding: 10px;
    }
}
