.navbar {
    min-height: 10vh;
    background: #be332d;
    padding: 0 50px;
}

.navbar a {
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
}

.wa-b {
    border: transparent;
    background: #1bd741;
    border-radius: 5px;
}

.burger-btn {
    color: #be332d;
    font-size: 26px;
    background-color: #fff;
    border: transparent;
    border-radius: 3px;
    padding: 5px 15px;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

@media screen and (max-width: 425px) {
    .navbar {
        padding: 10px 20px;
    }
    .wa-b {
        text-align: center;
        width: 200px;
    }
}
