.hero {
    height: 90vh;
    background-color: #be332d;
    color: white;
    text-align: center;
}

.hero-btn {
    margin-top: 30px !important;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 200px;
    height: 45px;
    transition: all 0.2s ease-in-out;
}

.hero-btn:hover {
    cursor: pointer;
    text-decoration: none;
    background: #ffffff;
    color: #be332d;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding-top: 100px;
    /* border: 1px solid white; */
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 17s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.marquee-img {
    margin: 0 50px !important;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
}

.produk-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.input-search {
    width: 340px;
    height: 49px;
    background: #ffffff;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: transparent;
    padding: 15px;
}

.input-search:focus {
    outline: none;
}

.produk {
    margin: 50px auto;
}

.produk h1 {
    font-weight: 700;
    text-align: center;
}

.produk h1 span {
    color: #be332d;
}

.produk-card {
    margin-top: 50px;
}

.produk-card-item {
    text-align: center;
    box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.produk-card-item p {
    margin-top: 8px;
}
.produk-card-item h5 {
    font-weight: 700;
}

.produk-card-btn {
    padding: 10px 15px;
    background: #be332d;
    border-radius: 10px;
    border: 2px solid #be332d;
    color: white;
    font-weight: 600;
    margin: 15px auto;
    transition: all 0.2s ease-in-out;
}

.produk-card-btn:hover {
    cursor: pointer;
    color: #be332d;
    background: #fff;
}

.produk-card-img {
    margin: 0 auto;
    width: 100%;
}

.promosi {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.promosi h1 {
    font-weight: 700;
    color: #be332d;
}

.bagi-hadiah {
    height: 466px;
    background: #c4c4c4;
    margin-bottom: 80px;
    margin-top: 50px;
}

.promosi-card {
    text-align: left;
    background: #ffffff;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: transparent;
}

.promosi-card h4 {
    font-weight: 700;
    text-transform: uppercase;
}

.promosi-btn {
    padding: 10px 15px;
    background: #be332d;
    border-radius: 10px;
    border: 2px solid #be332d;
    color: white;
    font-weight: 600;
    width: 200px;
    margin-left: 15px;
}

.rowgap {
    row-gap: 50px;
}

.tukar-koin {
    row-gap: 20px;
}

.tukar-koin-select {
    width: 100%;
    background: #ffffff;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    /* margin-top: 15px; */
}

.axd {
    background: #ffffff;
    border: 1px solid #a2a2a2;
    height: 40.3px;
    border-radius: 5px;
}

.lacak-btn {
    width: 100%;
    height: 46px;
    margin-top: 15px;
    background: #be332d;
    border-radius: 10px;

    padding: 10px 15px;
    border: 2px solid #be332d;
    color: white;
    transition: all 0.2s ease-in-out;
}

.lacak-btn:hover {
    cursor: pointer;
    background: #fff;
    color: #be332d;
}

@media screen and (max-width: 425px) {
    .hero {
        height: 50vh;
    }

    .hero-txt h1 {
        line-height: 36px !important;
    }

    .hero-btn {
        width: 154px;
        height: 35px;
        /* line-height: 21px; */
        padding: 7px;
        border: 1px solid #ffffff;
        border-radius: 5px;
    }

    .hero h1 {
        line-height: 21px;
    }

    .promosi-btn {
        width: 100%;
    }

    .input-search {
        width: 100%;
    }

    .produk-card-btn {
        padding: 5px 10px;

        width: 100%;
    }
    .card-body {
        padding: 10px;
    }
    .rowgap {
        row-gap: 20px;
    }

    .marquee-img {
        width: 300px;
    }
    .marquee {
        padding-top: 0;
    }
}
