.hero-koin {
    height: 90vh;
    background-color: #be332d;
    color: white;
    text-align: center;
    /* padding-top: 200px; */
}

.marquee-koin {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* border: 1px solid white; */
}

.track-koin {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 22s linear infinite;
}

@keyframes marquee-koin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.marquee-img-koin {
    /* border: 1px solid white; */
    height: 90vh;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 30px !important;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 100%;
    /* border: 1px solid white; */
}

.koin-desc {
    margin: 50px auto 0 auto;
    text-align: center;
}

.koin-desc h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

.koin-desc h1 span {
    color: #be332d;
}

.koin-desc > p {
    font-weight: 500;
    width: 30%;
    margin: 20px auto;
}

.koin-img {
    margin-top: 20px;
    margin-bottom: 100px;
}

.koin-cara {
    text-align: left;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center; */
}

.koin-cara h1 {
    margin-top: 20px;
}

.koin-cara h1 span {
    color: #be332d;
}

.koin-cara > p {
    font-weight: 500;
    margin-bottom: 20px;
}

.koin-cara button {
    padding: 10px 15px;
    background: #be332d;
    border-radius: 10px;
    border: 2px solid #be332d;
    color: white;
    font-weight: 600;
    margin: 15px auto;
    transition: all 0.2s ease-in-out;
}

.koin-cara button:hover {
    cursor: pointer;
    background: #ffffff;
    color: #be332d;
}

.koin-fungsi {
    margin-top: 100px;
    background: #be332d;
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 0 !important;
}

.koin-card {
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 406px;
}

.koin-card h5 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
.koin-card p {
    font-weight: 400;
}

.fungsi-img {
    width: 150px;
    height: 150px;
}

.koin-display {
    background: url("../images/koin.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    margin-bottom: 50px;
    padding: 50px;
    /* border: 1px solid red; */
    height: 20vh;
}

@media screen and (max-width: 425px) {
    .hero-koin {
        height: 50vh;
    }

    .marquee-koin {
        overflow: hidden;
    }

    .marquee-img-koin {
        height: 50vh;
    }

    .hero-koin h1 {
        font-size: 14px;
        line-height: 21px;
    }

    .koin-desc h1 {
        font-size: 18px;
        line-height: 27px;
    }

    .koin-desc > p {
        font-size: 12px;
        line-height: 18px;
        width: 90%;
    }

    .koin-cara {
        text-align: center;
    }

    .koin-cara button {
        display: none;
    }

    .koin-cara > p {
        font-size: 12px;
    }

    .koin-card {
        height: 100%;
        padding: 10px;
    }

    .koin-card h5 {
        font-size: 10px;
        color: #be332d;
    }

    .koin-card p {
        display: none;
    }

    .fungsi-img {
        width: 90px;
        height: 90px;
    }

    .koin-display {
        background: url("../images/koin-mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: contain; */
        height: 30vh;
    }
}
