.container-fluid {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.prize-header {
    height: 69.81481481481481vh;
    background-color: rgba(190, 51, 45, 1);
    text-align: center;
    /* width: 100%; */
    /* margin: 0 auto; */
    padding-top: 8vh;
}

.prize-header-img-wrapper {
    /* width: 22.769vw; */
    width: 100%;
    height: 45vh;
    margin-bottom: 2.5925925925925926vh;
    /* border: 1px solid white; */
}
.prize-header-img-wrapper img {
    display: block;
    margin: 0 auto;
    /* width: 20%; */
    height: 100%;
}

.prize-header p {
    font-size: 1.66vw;
    color: white;
}

.content {
    text-align: center;
    padding-top: 3.518518518518518vh;
}
.content span:first-child {
    color: #be332d;
}

.content span {
    font-size: 2.905vw;
    font-weight: 700;
}

.step1 {
    margin-top: 2vh;
}

.prize-image-wrapper {
    /* border: 1px solid red; */
    width: 100%;
}
.prize-step-image1 {
    width: 100%;
    /* border: 1px solid red; */
}
.prize-step-numbers {
    font-weight: 500;
    /* border: 1px solid green; */
    margin-top: 5vh;
}
.prize-step-numbers h1 {
    font-size: 3.34vw;
}

.number-step-2,
.number-step-1 {
    font-size: 3.34vw;
}
.prize_step_text {
    /* border: 1px solid black; */
    text-align: left;
    margin-top: 5vh;
}

.prize_step_text span {
    font-size: 1.667vw;
}

.prize_step_text p {
    margin-top: 1.11vh;
    font-size: 1.25vw;
    font-weight: 500;
    /* border: 1px solid red; */
}
.prize_step_text a {
    border-radius: 10px;
    width: 13.958vw;
    /* height: 6vh; */
    font-size: 1.13vw;
    font-weight: 600;
    margin-top: 1.5vh;
}

.step2 {
    /* border: 1px solid red; */
    margin-top: 5.648148148148148vh;
}

.prize_step_text-2 {
    text-align: left;
}
.prize_step_text-2 span {
    font-size: 1.667vw;
}
.prize_step_text-2 p {
    font-size: 1.25vw;
    margin-top: 1.11vh;
    font-weight: 500;
}

.prize-item-card {
    padding: 0 11vw;
    margin: 4.259259259259259vh 0 10vh 0;
    /* border: 1px solid black; */
}
.prize-item-card .row .col-md-3 {
    padding: 0;
}

.grid-inside {
    position: relative;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* .prize-image-iphone {
    display: block;
} */
.prize-iphone_koin {
    position: absolute;
    top: 0;
    left: 8%;
    height: 95%;
    width: 100%;
    display: none;
    z-index: 5;
}

.prize-ps5_koin {
    position: absolute;
    top: 0;
    left: 8%;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
}
.prize-bike_koin {
    position: absolute;
    top: 0;
    left: 8%;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
}
.prize-pulsa_koin {
    position: absolute;
    top: 20%;
    left: 8%;
    height: 70%;
    /* width: 60%; */
    display: none;
    z-index: 5;
}

.prize-opacity {
    opacity: 0.3;
    border: 2px solid #be332d;
    background-color: white !important;
}

.prize-item-card .row .col-md-3 img {
    width: 85%;
}

.btn-prize-detail {
    color: white;
    background-color: #be332d;
    border-radius: 10px;
    box-shadow: -5px 4px 13px rgba(0, 0, 0, 0.25);
    margin: 1vh 0 2.5vh;
}
.btn-prize-detail:hover {
    color: white;
}
.btn-prize-detail:focus {
    outline: none;
    box-shadow: -5px 4px 13px rgba(0, 0, 0, 0.25);
}

.prize-game-cash {
    padding: 0 11vw;
    margin-bottom: 9vh;
}
.prize-item-card h2,
.prize-game-cash h2 {
    text-align: left;
    margin-bottom: 3vh;
    font-weight: 700;
}

.game-cash-prize {
    padding-left: 3.056vw;
    border-radius: 10px;
    margin-left: 11vw;
    margin-right: 11vw;
    margin-bottom: 9vh;
    padding-top: 1.5vh;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    /* width: 50%; */
    /* height: 40vh; */
    text-align: left;
    display: none;
}

.game-cash-prize span {
    font-size: 1.25vw;
    color: #be332d;
    margin-right: 4vw;
}

.step3 {
    margin-bottom: 8vh;
}
.prize-step-numbers-3 {
    font-weight: 500;
}
.prize-step-numbers-3 h1 {
    font-size: 3.34vw;
}

.prize_step_text-3 {
    /* border: 1px solid black; */
    text-align: left;
}

.prize_step_text-3 span {
    font-size: 1.667vw;
}

.prize_step_text-3 p {
    margin-top: 1.11vh;
    font-size: 1.25vw;
    font-weight: 500;
}
.prize_step_text-3 a {
    border-radius: 10px;
    width: 13.958vw;
    /* height: 6vh; */
    font-size: 1.13vw;
    font-weight: 600;
    margin-top: 1.5vh;
}

.prize-free-fire {
    width: 90%;
}
.prize-mole {
    width: 90%;
}
.prize-tokped {
    width: 90%;
}

.btn-prize-detail-game {
    color: white;
    background-color: #be332d;
    border-radius: 10px;
    box-shadow: -5px 4px 13px rgba(0, 0, 0, 0.25);
    margin: 1vh 0 2.5vh;
}
.btn-prize-detail-game:hover {
    color: black;
}
.btn-prize-detail-game:focus {
    outline: none;
    box-shadow: -5px 4px 13px rgba(0, 0, 0, 0.25);
}

.grid-inside-game {
    position: relative;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid blue; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.img-step-3-wrapper {
    width: 100%;
}
.img-step-3-wrapper img {
    width: 100%;
}

.prize-image-table {
    width: 100%;
}
.prize-image-table-1 {
    width: 70%;
}
.prize-image-table-2 {
    width: 40%;
}
.prize-image-table-3 {
    width: 85%;
}
.prize-image-table-4 {
    width: 35%;
}
.prize-image-table-5 {
    width: 80%;
}
.prize-image-table-6 {
    width: 60%;
}

.table-koin-redeem {
    border-collapse: separate;
    border-spacing: 20px 20px;
    display: none;
}
.table-koin-redeem-1 {
    border-collapse: separate;
    border-spacing: 30px 20px;
    display: none;
}
.table-koin-redeem-2 {
    border-collapse: separate;
    border-spacing: 20px 20px;
    display: none;
}

.btn-prize-red {
    background-color: white;
    color: #be332d !important;
    border: 2px solid #be332d;
}

.table-title-1,
.table-title-2 {
    color: #be332d;
}

.modal-header {
    border-bottom: none;
    text-align: center;
}

.modal-body h1 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4vh;
}

.modal-body {
    text-align: center;
}

.swiper-modal-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

@media (max-width: 1254px) {
    .prize-header p {
        font-size: 24px;
    }
}
@media (max-width: 1072px) {
    .prize_step_text span,
    .prize_step_text-2 span,
    .prize_step_text-3 span {
        font-size: 20px;
    }
    .prize_step_text a,
    .prize_step_text-3 a {
        font-size: 16px;
        width: 20.958vw;
    }
    .prize_step_text p,
    .prize_step_text-2 p,
    .prize_step_text-3 p {
        font-size: 16px;
    }
    .prize-step-numbers h1,
    .number-step-1,
    .prize-step-numbers-3 h1 {
        font-size: 40px;
    }
}

@media (max-width: 979px) and (min-width: 763px) {
    .btn-prize-detail-game {
        font-size: 14px;
        /* width: 100px; */
    }
    .grid-inside-game {
        width: 95%;
    }
    .btn-prize-detail-game {
        width: 95%;
    }
    .content span {
        font-size: 28px;
    }
}

@media (max-width: 878px) {
    .btn-prize-detail {
        font-size: 1.5vw;
    }
}

@media (max-width: 768px) {
    .prize_step_text span {
        font-size: 20px;
    }
    .content span {
        font-size: 28px;
    }

    .prize-image-wrapper {
        width: 70%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }

    .prize-step-image1 {
        text-align: center;
    }

    .prize_step_text p {
        font-size: 16px;
    }

    .prize_step_text a,
    .prize_step_text-3 a {
        font-size: 16px;
        width: 27.958vw;
    }
    .btn-prize-detail {
        font-size: 2.7vw;
    }
}

@media (max-width: 767px) {
    .step3-text {
        order: 2;
    }
    .img-step-3-wrapper {
        order: 1;
        width: 70%;
        margin: 0 auto 2vh auto;
    }
}

@media (max-width: 578px) {
    .prize-header p {
        font-size: 20px;
    }
    .prize-header-img-wrapper img {
        height: 90%;
    }

    .prize-item-card h2,
    .prize-game-cash h2 {
        display: none;
    }

    .prize_step_text a,
    .prize_step_text-3 a {
        font-size: 16px;
        width: 35.958vw;
    }
}

@media (max-width: 445px) {
    .prize-header p {
        font-size: 16px;
    }
    .prize-header-img-wrapper img {
        height: 90%;
    }

    .prize_step_text a,
    .prize_step_text-3 a {
        font-size: 16px;
        width: 48.958vw;
    }
    .btn-prize-detail-game {
        font-size: 3vw;
        /* width: 100px; */
    }
}
@media (max-width: 471px) {
    .prize-header p {
        font-size: 16px;
    }
    .prize-header-img-wrapper img {
        height: 80%;
    }
}

/* @media (max-width: 425px) {
    .modal-hide {
        display: block;
    }

    .modal-backdrop.show {
        display: block;
    }
} */
@media (max-width: 390px) {
    .prize-header p {
        font-size: 14px;
    }
}
@media (max-width: 383px) {
    .prize-step-1 {
        margin-left: 1vw;
    }
    .prize-step-numbers h1,
    .number-step-1,
    .prize-step-numbers-3 h1 {
        font-size: 16px;
    }
    .prize_step_text span,
    .prize_step_text-2 span,
    .prize_step_text-3 span {
        font-size: 14px;
        width: 100%;
    }
    .prize_step_text p,
    .prize_step_text-2 p,
    .prize_step_text-3 p {
        font-size: 10px;
        width: 100%;
    }

    .step2 {
        /* padding-right: 1vw; */
    }

    .prize-step-2 {
        margin-left: 1vw;
    }

    .prize_step_text a {
        font-size: 12px;
        width: 70%;
    }
}

@media (max-width: 379px) {
    .prize_step_text-2 span {
        font-size: 14px;
    }
    .prize_step_text-2 p {
        font-size: 10px;
    }
    .prize-item-card h2,
    .prize-game-cash h2 {
        font-size: 24px;
    }
}
@media (max-width: 368px) {
    .prize-header p {
        font-size: px;
    }
    .prize-header-img-wrapper img {
        height: 90%;
    }

    .prize_step_text a,
    .prize_step_text-3 a {
        font-size: 16px;
        width: 48.958vw;
    }
}

@media (max-width: 328px) {
    .prize-header-img-wrapper img {
        width: 80%;
    }
}
