.redeem {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.redeem-header {
    background-color: rgba(190, 51, 45, 1);
    text-align: center;
    color: white;
    padding-top: 18vh;
    padding-bottom: 7.4vh;
}
.redeem-header h1 {
    font-size: 2.917vw;
}

.redeem-content {
    padding-top: 56px;
    text-align: center;
}
.redeem-content span:first-child {
    color: rgba(190, 51, 45, 1);
}
.redeem-content span {
    font-size: 42px;
    font-weight: 700;
}

select.redeem-select {
    margin: 0 auto;
    width: 50%;
}

.redeem-select {
    border-radius: 10px !important;
}

.koin-requirement {
    margin: 0 auto;
    text-align: left;
    width: 50%;
    color: rgba(190, 51, 45, 1);
    font-weight: 700;
    margin-bottom: 3vh;
    /* border: 1px solid blue; */
}

#img_koin_redeem {
    display: none;
    margin: 0 auto;
}

.redeem-game {
    margin-top: 20px;
    margin-bottom: 27px;
    border-radius: 10px !important;
}

.redeem-input {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px !important;
}

.btn-redeem-form {
    width: 13.958vw;
    background-color: rgba(190, 51, 45, 1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 89px;
}

.lacak-status-wrapper {
    padding-top: 46px;
    padding-bottom: 32px;
    background-color: rgba(190, 51, 45, 1);
}

.lacak-form {
    text-align: center;
    margin-bottom: 0 !important;
    padding-bottom: 7vh;
    padding-top: 5vh;
}

.lacak-label {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.input-lacak {
    margin: 0 auto 15px auto;
    width: 30%;
    border-radius: 10px;
}

.btn-lacak {
    color: #be332d;
    background-color: white;
    font-size: 16px;
    width: 11.111vw;
    border-radius: 10px;
}

.redeem-form-hide {
    display: none;
}

.footer-mobile {
    display: none;
}

/* progress bar */
.progress-bar {
    width: 100%;
    margin: 0 auto;
    background-color: #be332d;
    padding-bottom: 6vh;
}
.progress-meter {
    padding: 0;
}

ol.progress-meter {
    padding-top: 19.5px;
    list-style-type: none;
}
ol.progress-meter li {
    display: inline-block;
    text-align: center;
    text-indent: -19px;
    height: 36px;
    width: 24.99%;
    /* border: 1px solid black; */
    border-top-width: 4px;
    border-top-style: solid;
}

.status-category {
    font-size: 24px;
}

.status-detail {
    font-size: 18px;
}
ol.progress-meter li:before {
    position: relative;
    float: left;
    text-indent: 0;
    left: -webkit-calc(50% - 9.5px);
    left: -moz-calc(50% - 9.5px);
    left: -ms-calc(50% - 9.5px);
    left: -o-calc(50% - 9.5px);
    left: calc(50% - 9.5px);
}
ol.progress-meter li.done {
    font-size: 20px;
}
ol.progress-meter li.done:before {
    content: "\2713";
    height: 24px;
    width: 24px;
    line-height: 21.85px;
    top: -28.175px;
    border: none;
    border-radius: 19px;
}
ol.progress-meter li.todo {
    font-size: 20px;
}
ol.progress-meter li.todo:before {
    content: "\039F";
    font-size: 24px;
    top: -26.95px;
    line-height: 18.05px;
}
ol.progress-meter li.done {
    color: white;
    border-top-color: yellowgreen;
}
ol.progress-meter li.done:before {
    color: yellowgreen;
    /* background-color: yellowgreen; */
    border: 1px solid yellowgreen;
    border-radius: 50%;
}
ol.progress-meter li.todo {
    color: white;
    border-bottom-color: white;
}
ol.progress-meter li.todo:before {
    color: white;
}

.progress-point p {
    margin: 0;
}

@media (max-width: 1050px) {
    .redeem-header h1 {
        font-size: 4.917vw;
    }
}
@media (max-width: 768px) {
    select.redeem-select {
        width: 80%;
    }
    .redeem-header h1 {
        font-size: 7.917vw;
    }

    .koin-requirement {
        width: 80%;
    }
    .redeem-input {
        width: 80%;
    }
    .btn-redeem-form {
        width: 18.958vw;
    }
}

@media (max-width: 651px) {
    .btn-lacak {
        width: 17.111vw;
    }
    .input-lacak {
        width: 70%;
    }
}
@media (max-width: 406px) {
    .btn-lacak {
        width: 25.111vw;
    }
    .btn-redeem-form {
        width: 25.958vw;
    }
}
