@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import "style.css";
@import "homepage.css";
@import "redeem.css";
/* @import "footer.css"; */
@import "footer2.css";
@import "ads.css";
@import "header.css";
@import "koin.css";
@import "prize.css";
@import "cart.css";

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-weight: 16px;
    font-weight: 400;
}

p {
    font-size: 14px;
    font-weight: 300;
}

button {
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 24px;
        font-weight: 700;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
    }

    h3 {
        font-size: 14px;
        font-weight: 700;
    }

    h4 {
        font-size: 12px;
        font-weight: 500;
    }

    h5 {
        font-weight: 12px;
        font-weight: 400;
    }

    p {
        font-size: 10px;
        font-weight: 300;
    }

    button {
        font-size: 12px;
        font-weight: 500;
    }
}
