/*--------------------------------------
-------- HEADER AREA CSS START --------
---------------------------------------*/
.header {
    position: fixed;
    top: 0;
    padding: 30px 0;
    left: 0;
    transition: all 0.4s;
    width: 100%;
    z-index: 9;
    max-height: 200px;
    /* max-height: 110px; */
}
.mainmenu {
    text-align: center !important;
}
.mainmenu li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 15px;
}
.mainmenu li a {
    display: inline-block;
    color: #fff;
    padding: 25px 0;
}
.slicknav_menu {
    padding: 0;
    background: transparent;
}
.slicknav_menu a.active,
.mainmenu ul li a:hover,
.mainmenu ul li a.active {
    color: #fff;
    font-weight: 900;
}
.mainmenu {
    display: block;
}
.slicknav_menu {
    display: none;
}
.header.sticky {
    padding: 10px 0;
    /* border-bottom: 1px solid #fff; */
    background: #eb3e32;
    /* background: -moz-linear-gradient(
        left,
        #fb6857 0%,
        #fc6c70 50%,
        #fe7189 100%
    );
    background: -webkit-linear-gradient(
        left,
        #fb6857 0%,
        #fc6c70 50%,
        #fe7189 100%
    );
    background: linear-gradient(
        to right,
        #fb6857 0%,
        #fc6c70 50%,
        #fe7189 100%
    ); */
}
/*--------------------------------------
--------- HEADER AREA CSS END ---------
---------------------------------------*/
